### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [2]:
len(purchase_data.SN.unique())

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
summary_df = pd.DataFrame({"Number of Unique Items":len(purchase_data["Item Name"].unique()), "Average Price":purchase_data["Price"].mean(),"Number of Purchases":len(purchase_data["Purchase ID"]),"Total Revenue":purchase_data["Price"].sum()},index = [0])
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_data_percent = purchase_data["Gender"].value_counts("Male") #this "male" argument i found entirely on accident
gender_data_count = purchase_data["Gender"].value_counts()
gender_data_percent = gender_data_percent.map('{:,.2%}'.format)
gender_data = pd.DataFrame([gender_data_count,gender_data_percent]).T
gender_data.columns = ["Count","Percent"]
gender_data

                      Count Percent
Male                    652  83.59%
Female                  113  14.49%
Other / Non-Disclosed    15   1.92%

In [5]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
sumPerUser = purchase_data.groupby("SN").sum()
sumPerUser.head()

              Purchase ID  Age  Item ID  Price
SN
Adairialis76          467   16      123   2.28
Adastirin33           142   35      175   4.48
Aeda94                388   17      128   4.91
Aela59                 28   21      119   4.32
Aelaria33             630   23      171   1.79

In [7]:
uniqueUsers = purchase_data["SN"].unique()
uniqueUsers

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [8]:
userGender = {}
for user in uniqueUsers:
    if user not in userGender:
        userGender[user] = purchase_data.loc[purchase_data["SN"] == user,"Gender"]
purchasesPerUser = {} #purchases per user is number of duplicates for each user, which this loop will test for
for key in userGender:
    purchasesPerUser[key] = len(userGender[key])
purchasesPerUser

{'Lisim78': 3,
 'Lisovynya38': 1,
 'Ithergue48': 1,
 'Chamassasya86': 1,
 'Iskosia90': 1,
 'Yalae81': 2,
 'Itheria73': 1,
 'Iskjaskst81': 2,
 'Undjask33': 1,
 'Chanosian48': 2,
 'Inguron55': 3,
 'Haisrisuir60': 2,
 'Saelaephos52': 2,
 'Assjaskan73': 1,
 'Saesrideu94': 2,
 'Lisassa64': 1,
 'Lisirra25': 1,
 'Zontibe81': 3,
 'Reunasu60': 2,
 'Chamalo71': 1,
 'Iathenudil29': 1,
 'Phiarithdeu40': 1,
 'Siarithria38': 2,
 'Eyrian71': 2,
 'Siala43': 2,
 'Lisirra87': 1,
 'Lirtossa84': 2,
 'Eusri44': 1,
 'Aela59': 1,
 'Tyida79': 2,
 'Idai61': 3,
 'Farusrian86': 1,
 'Aeralria27': 1,
 'Haillyrgue51': 3,
 'Sondim73': 1,
 'Jeyciman68': 1,
 'Idaisuir85': 1,
 'Seuthep89': 1,
 'Reulae52': 1,
 'Sondilsaya62': 1,
 'Aerithriaphos45': 1,
 'Assosia88': 1,
 'Aidaillodeu39': 2,
 'Aelly27': 2,
 'Tyeosri53': 2,
 'Haerith37': 1,
 'Yasrisu92': 1,
 'Chanuchi25': 1,
 'Asur96': 1,
 'Iaralrgue74': 2,
 'Chanosia34': 1,
 'Aelin32': 3,
 'Ilosianya35': 1,
 'Zhisrisu83': 2,
 'Phaelap26': 2,
 'Raesty92': 3,
 'Palyon91': 1,
 'Tyisur83': 3,
 'Yaliru88': 1,
 'Yadanu52': 1,
 'Jiskimya77': 2,
 'Yadaphos40': 2,
 'Alo38': 1,
 'Phaena87': 3,
 'Chamirraya83': 1,
 'Chanastsda67': 1,
 'Indonmol95': 1,
 'Jiskossa61': 1,
 'Pheodai94': 1,
 'Hari50': 2,
 'Marilsa69': 2,
 'Assistasda42': 2,
 'Lisosia93': 5,
 'Philodil43': 1,
 'Mindadaran26': 1,
 'Lirtosia63': 2,
 'Assjaskan56': 1,
 'Irithlis29': 1,
 'Heudai45': 1,
 'Haerithp41': 1,
 'Aina42': 3,
 'Jiskjask60': 1,
 'Umolrian85': 3,
 'Qarirwen82': 1,
 'Laedallo55': 1,
 'Eoralrap26': 1,
 'Undosian34': 2,
 'Chadolyla44': 3,
 'Chadistaya75': 1,
 'Yathedeu43': 2,
 'Aina43': 1,
 'Ilassast39': 1,
 'Lisassala98': 1,
 'Aiduecal76': 2,
 'Chadossa89': 1,
 'Pheodaisun84': 3,
 'Heollyriap59': 1,
 'Maropast28': 1,
 'Frichim77': 2,
 'Thryallym62': 1,
 'Eulanurin88': 1,
 'Lassjaskan73': 1,
 'Tyaerith73': 1,
 'Sondadarya58': 1,
 'Hirirap39': 2,
 'Ririp86': 1,
 'Sundim98': 1,
 'Iskichinya81': 2,
 'Phyali88': 3,
 'Undirrala66': 2,
 'Nitherian58': 2,
 'Lassilsala30': 3,
 'Frichaststa61': 1,
 'Frichosia58': 1,
 'Ilosia37': 2,
 'Lisista27': 1,
 'Seudaillorap38': 2,
 'Aesty53': 2,
 'Yathecal82': 3,
 'Lisossanya98': 1,
 'Iral74': 4,
 'Lisast87': 2,
 'Maridisya31': 1,
 'Jiskassa76': 1,
 'Ethriel85': 1,
 'Iskirra45': 1,
 'Iri67': 3,
 'Rarallo90': 3,
 'Lisasi93': 2,
 'Adastirin33': 1,
 'Eyista89': 1,
 'Ili43': 1,
 'Chamirra53': 2,
 'Hailaphos89': 1,
 'Iskadarya95': 3,
 'Qilatista90': 1,
 'Inasti31': 2,
 'Marilsanya48': 1,
 'Marjask87': 1,
 'Chanjaskan89': 2,
 'Hyaduesu61': 1,
 'Aillyrin83': 1,
 'Marast30': 1,
 'Sundadar27': 2,
 'Tyaelorap29': 2,
 'Lirtimst73': 2,
 'Styaduen40': 1,
 'Sidap51': 1,
 'Chanastst38': 2,
 'Lirtassa52': 1,
 'Sondim68': 2,
 'Aeral97': 1,
 'Heosurnuru52': 2,
 'Lisopela58': 3,
 'Caesrinusuir82': 2,
 'Tyirinu79': 1,
 'Fironon91': 1,
 'Lassjask63': 1,
 'Indcil77': 1,
 'Chamimla73': 1,
 'Syathe73': 1,
 'Baelollodeu94': 2,
 'Mindista32': 1,
 'Saena74': 1,
 'Marirrasta50': 1,
 'Lamil79': 2,
 'Aenarap34': 1,
 'Aisur51': 1,
 'Thrientossa55': 1,
 'Chadista79': 2,
 'Tyeurith29': 1,
 'Malunil62': 2,
 'Hiasri33': 2,
 'Lisadar44': 1,
 'Frichjask31': 1,
 'Lisjaskya84': 1,
 'Ristydru66': 1,
 'Frichast28': 1,
 'Minduri31': 1,
 'Maradaran90': 1,
 'Mindetosya30': 1,
 'Ialallo29': 3,
 'Pheusrical25': 1,
 'Chanosia60': 2,
 'Phistym51': 2,
 'Aelollo59': 2,
 'Chamimla85': 3,
 'Haisurra41': 1,
 'Sondastsda82': 3,
 'Qilanrion65': 1,
 'Eulasuir89': 1,
 'Eosrirgue62': 1,
 'Shaidanu32': 1,
 'Lirtastan49': 1,
 'Iaralsuir44': 2,
 'Tyeudariasuir90': 1,
 'Cosadar58': 1,
 'Aelastirin39': 2,
 'Aidai53': 1,
 'Jiskjask85': 1,
 'Ealrion88': 1,
 'Chamjask73': 3,
 'Tyaenasti87': 1,
 'Alim85': 1,
 'Haeladil46': 1,
 'Jiskirran77': 1,
 'Undosia27': 1,
 'Peorith44': 1,
 'Yarithsurgue62': 1,
 'Taeduenu92': 1,
 'Rairin89': 1,
 'Aerithriaphos46': 1,
 'Idairin51': 2,
 'Lisista54': 2,
 'Eodailis27': 2,
 'Lirtastsda29': 2,
 'Undilsan50': 1,
 'Eodaisu60': 1,
 'Quaranmol58': 1,
 'Lirtossa60': 2,
 'Lirtilsa71': 1,
 'Isursuir31': 1,
 'Sundirrala66': 2,
 'Saerallora71': 1,
 'Iasur80': 2,
 'Tyaelo67': 1,
 'Quanunwen42': 1,
 'Yasur35': 1,
 'Assehoan67': 1,
 'Haellysu29': 1,
 'Saida58': 1,
 'Chamadar79': 1,
 'Aeral43': 1,
 'Lirtirra37': 1,
 'Tyidaim51': 3,
 'Lassassast73': 1,
 'Assassasta79': 2,
 'Heollyra92': 1,
 'Anallorgue57': 2,
 'Aerithllora36': 2,
 'Smaistysu35': 2,
 'Ennalmol65': 1,
 'Yarithrgue83': 1,
 'Yana46': 1,
 'Sondimla25': 1,
 'Aidai61': 1,
 'Wailin72': 1,
 'Firan91': 1,
 'Alaesu91': 1,
 'Aellynun67': 1,
 'Rilaera56': 1,
 'Eulaestira36': 2,
 'Marim28': 2,
 'Idastidru52': 4,
 'Ilirrasda54': 2,
 'Alaephos75': 1,
 'Syalollorap93': 1,
 'Minduli80': 1,
 'Chanastya70': 1,
 'Frichadaran88': 2,
 'Siallylis44': 3,
 'Aeri84': 1,
 'Iasursti71': 1,
 'Mindilsa34': 1,
 'Chamastya76': 1,
 'Undirra73': 1,
 'Aestysu37': 2,
 'Chadadarla74': 2,
 'Strithenu87': 3,
 'Iasrira89': 2,
 'Ialidru40': 1,
 'Tyalaesu89': 1,
 'Tyidainu31': 1,
 'Lirtilsa72': 2,
 'Undjaskla97': 2,
 'Saedaiphos46': 3,
 'Aerithnucal56': 1,
 'Lisossa46': 1,
 'Layjask75': 1,
 'Lisista63': 1,
 'Ceoral34': 1,
 'Hilaerin92': 1,
 'Chadilsasta32': 2,
 'Undassa89': 1,
 'Iduenu77': 1,
 'Lisosia66': 1,
 'Undimsya85': 1,
 'Phaedue89': 1,
 'Yadacal26': 2,
 'Lisossa25': 2,
 'Ilmol66': 2,
 'Yastyriaphos75': 1,
 'Hiasurria41': 1,
 'Palatyon26': 1,
 'Qilalista41': 1,
 'Hada39': 3,
 'Chamilsala65': 2,
 'Rairith81': 1,
 'Ilarin91': 3,
 'Ryanara76': 1,
 'Undista85': 1,
 'Tyeoralru41': 1,
 'Pheosrinudeu70': 2,
 'Heuli25': 2,
 'Pheutherin27': 1,
 'Chadirra90': 1,
 'Ali84': 2,
 'Frichjaskan98': 1,
 'Malil90': 1,
 'Yarithllodeu72': 1,
 'Tyaedainu44': 1,
 'Ethron58': 1,
 'Eusurdeu49': 2,
 'Saistyphos30': 3,
 'Saisrilis27': 1,
 'Hallysucal81': 1,
 'Ilimya66': 1,
 'Raysistast71': 1,
 'Haedairiadru51': 1,
 'Tyananurgue44': 1,
 'Risty84': 1,
 'Aerillorin70': 1,
 'Phistyn52': 1,
 'Yalo85': 1,
 'Chamirrasya33': 2,
 'Hiral75': 1,
 'Isursti83': 1,
 'Bartassaya73': 2,
 'Aeda94': 1,
 'Quinarap53': 2,
 'Asur53': 3,
 'Alarap40': 1,
 'Sida61': 2,
 'Hiarideu73': 1,
 'Lassassasda30': 1,
 'Ennoncil86': 1,
 'Siralsudeu54': 2,
 'Eusri26': 1,
 'Ardcil81': 2,
 'Marilsasya33': 2,
 'Lirtim36': 1,
 'Heunadil74': 1,
 'Frichadar89': 1,
 'Aesurstilis64': 1,
 'Idaidil28': 2,
 'Lisotesta51': 1,
 'Lisico81': 1,
 'Lisiriya82': 1,
 'Siana77': 1,
 'Marokian45': 1,
 'Sausosia74': 2,
 'Assesi91': 1,
 'Eusri70': 2,
 'Aisurria69': 1,
 'Iarilis73': 2,
 'Raisty38': 1,
 'Ilista82': 1,
 'Leyirra83': 2,
 'Aiduesu86': 1,
 'Frichynde86': 1,
 'Hisridru55': 1,
 'Chamossa77': 1,
 'Irillo49': 1,
 'Lirtastsya71': 2,
 'Frichosiala98': 1,
 'Qilunan34': 1,
 'Quarrion42': 1,
 'Aisurdru79': 2,
 'Hiaral50': 3,
 'Iarallo65': 1,
 'Sondassasya91': 1,
 'Chanossast57': 1,
 'Chanjask65': 1,
 'Ethralista69': 1,
 'Sondistanya61': 1,
 'Eudanu32': 1,
 'Euthe35': 1,
 'Lassimla92': 2,
 'Lisossala30': 1,
 'Eulae84': 1,
 'Chamadarnya73': 1,
 'Eolan54': 1,
 'Assistasda90': 1,
 'Ennrian78': 2,
 'Undirrasta89': 1,
 'Rianistast50': 1,
 'Undare39': 2,
 'Adairialis76': 1,
 'Aesur96': 1,
 'Tyialisudeu65': 2,
 'Arirgue63': 1,
 'Sundadarla27': 1,
 'Eyircil84': 1,
 'Ina92': 1,
 'Lirtistanya48': 2,
 'Marassa62': 1,
 'Mindossa76': 1,
 'Salilis27': 1,
 'Sondossa69': 1,
 'Sundjask71': 1,
 'Errian63': 1,
 'Eurithphos97': 2,
 'Raillydeu47': 1,
 'Malon70': 1,
 'Jiskimsda56': 1,
 'Marughi89': 1,
 'Ingatcil75': 1,
 'Chanirrasta87': 1,
 'Alaesu77': 1,
 'Ermol76': 1,
 'Tyeuduen32': 1,
 'Firon67': 1,
 'Iadueria43': 1,
 'Pheulidil31': 1,
 'Eodairu79': 1,
 'Frichocesta66': 2,
 'Thourdirra92': 1,
 'Chanastnya43': 3,
 'Iskim96': 1,
 'Eulolis41': 1,
 'Sastydeu50': 1,
 'Ilaesudil92': 1,
 'Yasur85': 1,
 'Aidain51': 1,
 'Aerithnuphos61': 1,
 'Yalostiphos68': 1,
 'Meosridil82': 1,
 'Aillyriadru65': 1,
 'Sally64': 1,
 'Lisim51': 2,
 'Isurria36': 1,
 'Silaera56': 3,
 'Leetirraya83': 2,
 'Lirtirra81': 1,
 'Eryon48': 1,
 'Iana95': 1,
 'Sondassan80': 1,
 'Chanadar44': 1,
 'Eosurdru76': 1,
 'Shidai42': 1,
 'Aesri53': 1,
 'Syally44': 2,
 'Jiskadarst60': 1,
 'Sondadar26': 2,
 'Malarrian73': 1,
 'Maluncil97': 2,
 'Ilunyon70': 1,
 'Yadam35': 1,
 'Dyally87': 1,
 'Pheosurllorin41': 2,
 'Frichaya88': 1,
 'Lassadarsda57': 2,
 'Marynde90': 2,
 'Isri34': 2,
 'Assastnya25': 1,
 'Ardonmol96': 1,
 'Lassirrasda85': 1,
 'Chadossa56': 1,
 'Poshilsa82': 1,
 'Yoishirrala98': 1,
 'Sundista37': 1,
 'Ilassa51': 1,
 'Filurarn35': 1,
 'Phaestycal84': 2,
 'Irilis75': 1,
 'Aeralstical35': 1,
 'Chanirrala39': 2,
 'Chanirra79': 1,
 'Assirra56': 1,
 'Seolollo93': 1,
 'Iathem87': 1,
 'Iasurriacal29': 1,
 'Lisast98': 1,
 'Filrion59': 1,
 'Halaecal66': 2,
 'Iskosian40': 1,
 'Ilastilis78': 1,
 'Seosrim97': 2,
 'Farrian71': 1,
 'Rithe53': 1,
 'Frichossala54': 1,
 'Chamjaskya75': 1,
 'Quanrion96': 1,
 'Tyaelaelis94': 1,
 'Quanenrian83': 1,
 'Chanirra64': 1,
 'Yadaisuir65': 1,
 'Syathecal44': 1,
 'Arin32': 2,
 'Aelaria33': 1,
 'Assassa81': 1,
 'Filrion83': 1,
 'Eoral49': 1,
 'Airi27': 1,
 'Eurisuru25': 1,
 'Liawista80': 1,
 'Lisirra58': 1,
 'Chamadarsda63': 1,
 'Haestyphos66': 1,
 'Phaedasurap84': 1,
 'Mindimnya67': 1,
 'Chadjask85': 1,
 'Eustyria89': 1,
 'Iskim66': 1,
 'Chamast86': 1,
 'Lirtassan78': 1,
 'Ethrasyon38': 1,
 'Quilassa66': 1,
 'Lisassasda39': 1,
 'Mindilsa60': 1,
 'Lalossa38': 1,
 'Chamistast30': 1,
 'Hariphos58': 1,
 'Assilsan72': 1,
 'Inasuir29': 1,
 'Chanilsasda38': 1,
 'Mindesi74': 2,
 'Ililsan66': 1,
 'Idacal95': 1,
 'Aeral68': 1,
 'Tyarithn67': 1,
 'Asty82': 1,
 'Yalaeria91': 1,
 'Chadjask77': 1,
 'Ealiril69': 1,
 'Quaecjask96': 1,
 'Firatan58': 1,
 'Yarolwen77': 1,
 'Tyaelistidru84': 1,
 'Yarithrin84': 1,
 'Tyaelly53': 1,
 'Phiristi62': 1,
 'Ililsasya43': 1,
 'Aithelis62': 2,
 'Undotesta33': 1,
 'Aelidru27': 1,
 'Chanossanya44': 2,
 'Maradarnya40': 1,
 'Lisilsa62': 1,
 'Saena89': 1,
 'Chanilsast61': 1,
 'Sundassa93': 1,
 'Aidai73': 1,
 'Indirrian56': 1,
 'Lisassasta50': 1,
 'Iduelis31': 1,
 'Chanosiaya39': 1,
 'Assylla81': 1,
 'Aidaira26': 1,
 'Eudanu84': 1,
 'Chamiman85': 1,
 'Tyialisti80': 1,
 'Marundi65': 1,
 'Eusur90': 1,
 'Mindirranya33': 1,
 'Phiallylis33': 1,
 'Isty55': 1,
 'Frichilsa31': 1,
 'Chanista95': 1,
 'Aellyria80': 1,
 'Rastynusuir31': 1,
 'Iljask75': 1,
 'Lisjaskan36': 1,
 'Mindjasksya61': 1,
 'Frichirranya75': 1,
 'Ilast79': 1,
 'Eratiel90': 1,
 'Assim27': 1,
 'Irith83': 1,
 'Ilosian36': 1,
 'Iskossasda43': 1,
 'Hala31': 1,
 'Jiskjask80': 1,
 'Aethedru70': 1,
 'Yathecal72': 1,
 'Sisur91': 1}

In [9]:
genderPerUser = purchase_data.copy()
genderPerUser.drop_duplicates(subset="SN",keep="first",inplace=True)
genderPerUser.drop(columns=["Age","Item Name","Item ID","Purchase ID","Price"],inplace = True)
len(genderPerUser)
genderPerUser.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [10]:
#now we will user genderPerUser and purchasesPerUser to determine average total purchases per gender
#we will put this information into a new dictionary
userPurchasesGender ={}
for key in purchasesPerUser:
    userPurchasesGender[key] = [0," "]
    userPurchasesGender[key][0] = purchasesPerUser[key]
    userPurchasesGender[key][1] = genderPerUser.loc[genderPerUser["SN"]==key,"Gender"]
    if "Male" in str(userPurchasesGender[key][1]):
        userPurchasesGender[key][1] = "Male"
    elif "Female" in str(userPurchasesGender[key][1]):
        userPurchasesGender[key][1] = "Female"
    else:
        userPurchasesGender[key][1] = "Other / Non-Disclosed"
userPurchasesGender = pd.DataFrame.from_dict(userPurchasesGender,orient='index',columns=['Number of Purchases','Gender'])
userPurchasesGender.head()

               Number of Purchases Gender
Lisim78                          3   Male
Lisovynya38                      1   Male
Ithergue48                       1   Male
Chamassasya86                    1   Male
Iskosia90                        1   Male


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchaseGroup = purchase_data.groupby(["Gender"])
genderSummary_df = gender_data.copy()
genderSummary_df["Purchase Count"] = purchase_data["Gender"].value_counts()
del genderSummary_df["Count"]
genderSummary_df["Average Purchase Price"] = purchase_data.groupby("Gender")["Price"].mean()
genderSummary_df["Average Purchase Price"] = genderSummary_df["Average Purchase Price"].map("${:.2f}".format)
average_df = userPurchasesGender.groupby("Gender").mean()
average_df.head()
genderSummary_df["Average Number of Purchases"] = average_df["Number of Purchases"]
genderSummary_df["Average Number of Purchases"] = genderSummary_df["Average Number of Purchases"].map("{:.2f}".format)
genderSummary_df.head()

,Percent,Purchase Count,Average Purchase Price,Average Number of Purchases
Male,83.59%,652,$3.02,1.35
Female,14.49%,113,$3.20,1.40
Other / Non-Disclosed,1.92%,15,$3.35,1.36

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
bins = [0,10,15,20,25,30,35,40,41]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40<"]
purchase_data["age bins"] = pd.cut(purchase_data["Age"],bins,labels = labels, include_lowest = True)
totalOverall = purchase_data.groupby("age bins").count()["SN"].sum()
ageGroup_df = purchase_data.groupby("age bins").count()
ageGroup_df.drop(columns=["Purchase ID","Gender","Item ID","Item Name","Price"], inplace = True)
ageGroup_df.rename(columns = {"SN":"Users Per Age Group"},inplace = True)
ageGroup_df["Percent of Total Users"] = (ageGroup_df["Age"]/totalOverall*100).map("{:.2f}%".format)
ageGroup_df.drop(columns = ["Age"],inplace=True)
ageGroup_df
#purchase_data.head()

          Users Per Age Group Percent of Total Users
age bins
<10                        32                  4.13%
10-14                      54                  6.97%
15-19                     200                 25.81%
20-24                     325                 41.94%
25-29                      77                  9.94%
30-34                      52                  6.71%
35-39                      33                  4.26%
40<                         2                  0.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
agePurchaseData_df = ageGroup_df.copy()
agePurchaseData_df["Purchase Count"] = purchase_data.groupby("age bins").count()["Purchase ID"]
agePurchaseData_df["Average Amount Purchased"] = (purchase_data.groupby("age bins").mean()["Price"]).map("${:.2f}".format)
agePurchaseData_df["Total Purchase Value Per Group"] = (purchase_data.groupby("age bins").sum()["Price"]).map("${:.2f}".format)
agePurchaseData_df

,Users Per Age Group,Percent of Total Users,Purchase Count,Average Amount Purchased,Total Purchase Value Per Group
age bins,,,,,
<10,32,4.13%,32,$3.40,$108.96
10-14,54,6.97%,54,$2.90,$156.60
15-19,200,25.81%,200,$3.11,$621.56
20-24,325,41.94%,325,$3.02,$981.64
25-29,77,9.94%,77,$2.88,$221.42
30-34,52,6.71%,52,$2.99,$155.71
35-39,33,4.26%,33,$3.40,$112.35
40<,2,0.26%,2,$3.27,$6.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
topSpenders_df = purchase_data.groupby("SN").sum()
topSpenders_df["Purchase ID"] = purchase_data.groupby("SN").count()["Purchase ID"]
topSpenders_df.rename(columns={"Purchase ID":"Number of Purchases","Price":"Total Purchase Value","SN":"User"},inplace=True)
topSpenders_df.drop(columns=["Age","Item ID"],inplace=True)
topSpenders_df.sort_values("Total Purchase Value",ascending=False,inplace=True) #gotta sort before reformatting, doesn't work otherwise for some reason
topSpenders_df["Average Purchase Price"] = (topSpenders_df["Total Purchase Value"]/topSpenders_df["Number of Purchases"]).map("${:.2f}".format)
topSpenders_df["Total Purchase Value"] = topSpenders_df["Total Purchase Value"].map("${:.2f}".format)
topSpenders_df.head()

             Number of Purchases Total Purchase Value Average Purchase Price
SN
Lisosia93                      5               $18.96                  $3.79
Idastidru52                    4               $15.45                  $3.86
Chamjask73                     3               $13.83                  $4.61
Iral74                         4               $13.62                  $3.40
Iskadarya95                    3               $13.10                  $4.37

In [16]:
purchase_data.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
itemInfo_df = purchase_data.drop_duplicates(subset = "Item ID")
itemInfo_df.drop(columns=["Age","Gender","age bins","SN","Purchase ID"],inplace=True)
#purchase_data.groupby("Item Name").mean()["Price"]
popularItems_df = purchase_data.groupby("Item Name").count()
popularItems_df.drop(columns=["SN","Age","Gender","Price","age bins"],inplace=True)
popularItems_df["Item ID"] = (purchase_data.groupby("Item Name").mean()["Item ID"]).map("{:.0f}".format)
popularItems_df["Item Price"] = purchase_data.groupby("Item Name").mean()["Price"]
popularItems_df.rename(columns={"Purchase ID":"Total Purchased"},inplace=True)
popularItems_df["Total Purchase Value"] = popularItems_df["Total Purchased"]*popularItems_df["Item Price"]
popularItems_df.sort_values(by=["Total Purchase Value"],ascending=False,inplace=True)
popularItems_df["Total Purchase Value"] = (popularItems_df["Total Purchase Value"]).map("${:.2f}".format)
popularItems_df["Item Price"] = popularItems_df["Item Price"].map("${:.2f}".format)
popularItems_df.head()

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Total Purchased,Item ID,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,13,95,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,178,$4.23,$50.76
Nirvana,9,82,$4.90,$44.10
Fiery Glass Crusader,9,145,$4.58,$41.22
Singed Scalpel,8,103,$4.35,$34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [55]:
#See above^^^